<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Irrigazione</title>
  </head>
  <body>
    <header>
      <h1 class="title">WaterPlant</h1>
    </header>
    <div class="container">
        <div class="zone-wrapper">
            <span class="label-title">Zona A</span>
            <div class="switch-wrapper">
              <span>OFF</span>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
              <span>ON</span>
            </div>
          </div>

          <div class="zone-wrapper">
            <span class="label-title">Zona B</span>
            <div class="switch-wrapper">
              <span>OFF</span>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
              <span>ON</span>
            </div>
          </div>
    </div>
  </body>
</html>
